@import '../../../custom.css';
// @import '/app/custom.css';
@import 'app/variables.scss';
@import 'app/fonts.scss';

.action-bar {
  border-color: transparent;
  border-width: 1;
}

.header {
  background-color: $primary-accent;
  text-align: center;

  .top {
    padding: 10;

    Label {
      vertical-align: center;
      color: white;
    }
  }

  .content {
    // background-color: lightgray;
    background-color: #fff;
    height: 200;
    width: 200;
    margin: 10;
    margin-bottom: 30;
    border-radius: 200%;
    border-color: darken($primary-accent, 5);
    border-width: 20;

    Label {
      font-size: 60;
      color: $primary-accent;
      // color: lighten(black, 65);
      vertical-align: center;

      &.a { text-align: right; }
      &.b { text-align: left; }
    }
  }

  .bottom {
    Label {
      padding: 10;
      border-bottom-width: 1;
    }

    @mixin accent($color) {
      color: $color;
      background-color: lighten($color, 46);
      border-color: lighten($color, 40);
    }

    .s { @include accent($success-accent); }
    .r { @include accent($primary-accent); }
  }
}

  .fab-button {
    height: 55;
    width: 55; /// this is required on iOS - Android does not require width so you might need to adjust styles
    margin: 15;
    margin-top: -20;
    // background-color: $secondary-accent;
    background-color: $primary-accent;
    horizontal-align: right;
    vertical-align: top;
  }

.content-body {
  // height: 100%;
  // width: 100%;
  // background-color: red;

  .list-group {
    height: 100%;
    width: 100%;

    .list-group-item {
      padding: 25;
      // background-color: whitesmoke;
      // border-left-width: 5;
      // border-left-color: $primary-accent;

      Label {
        vertical-align: center;

        &.cost {
          horizontal-align: right;
        }
      }

      .btn {
        width: 35;
        height: 35;
        padding: 0;
        border-width: 0;
      }
    }
  }
}

