<StackLayout class="page">
  <ActionBar title="Create Cycle" class="action-bar">
    <NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack($event)"></NavigationButton>
  </ActionBar>

  <GridLayout rows="auto, *, auto">
    <ScrollView row="1" height="100%">

      <GridLayout class="form" rows="*, auto">

        <GridLayout class="input-field" rows="auto, auto, auto" columns="3*, auto, *">
          <Label colSpan="3" class="h5" text="CREATE A BUDGET FOR THIS CYCLE"></Label>
          <label row="1" colSpan="3" class="h1 text-muted" [text]="sign"></label>

          <TextField row="2" #field1 autocorrect="false" keyboardType="number" returnKeyType="next" (returnPress)="return;" class="input input-border"></TextField>
          <label row="2" col="1" class="mid" text=":"></label>
          <TextField row="2" col="2" #field2 maxLength="2" autocorrect="false" keyboardType="number" returnKeyType="next" (returnPress)="return;" class="input input-border"></TextField>
        </GridLayout>

        <GridLayout row="1" columns="*, 20, *" class="input-field" marginTop="10">
          <Button (tap)="onSelectPeriod()" fontSize="13" text="&#xE425; &nbsp; SELECT PERIOD" class="mdi btn"></Button>
          <Label col="1" fontSize="11" text="OR" textWrap="true"></Label>
          <Button col="2" (tap)="onChooseDate()" fontSize="13" text="&#xE916; &nbsp; SELECT DATE" class="mdi btn"></Button>
        </GridLayout>

      </GridLayout>

    </ScrollView>

    <Button row="2" fontSize="13" (tap)="onCreate(field1.text, field2.text)" class="mdi btn" text="&#xE161; &nbsp; CREATE CYCLE"></Button>
  </GridLayout>
</StackLayout>
