@import '/app/custom.css';
@import '../../variables.scss';
@import '../../fonts.scss';

.page {
  background-color: white;

  .top, .bottom {
    text-align: center;
    text-transform: uppercase;
    font-size: 13;
    padding: 10;
    background-color: #eee;
  }

  .form {
    vertical-align: center;
    padding: 20;

    .input-field {
      margin-bottom: 0;
      text-align: center;

      Label {
        vertical-align: center;

        &.mid, &.h1 {
          font-size: 35;
        }
      }

      TextField {
        padding: 20;
        font-size: 50;

        &.l { margin-left: 30; }
        &.r { margin-right: 30; }
      }
    }
  }
}
