<StackLayout class="page">
  <ActionBar class="action-bar" title="xPenses">
    <!--<NavigationButton icon="res://ic_menu_white_24dp"></NavigationButton>-->
    <ActionItem icon="res://ic_person_white"></ActionItem>
  </ActionBar>

  <GridLayout rows="*, auto" orientation="vertical">
    <router-outlet></router-outlet>

    <BottomBar row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
      [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar>
  </GridLayout>
</StackLayout>
