@import './custom.css';
@import './variables.scss';
@import './fonts.scss';

.action-bar {
  background-color: $primary-accent;
}

.action-bar-title {}

.top-bar {
  vertical-align: top;
  padding: 10 5;
  // width: 100%;
  color: lighten($primary-accent, 0.7);

  Button {
    background-color: transparent;
    font-size: 35;
    padding: 5;
    width: 90px;
  }

  .home-icon {
  }

  .sign-icon {
    horizontal-align: right;
  }
}

.bottom-bar {
  margin-top: 1;
  border-width: 1;
  border-style: solid;
  border-color: #f0f0f0;

  Button {
    background-color: white;
    font-size: 25;
    vertical-align: center;
    horizontal-align: center;
    color: #c6c6c6;
    font-weight: 100;

    &.active {
      color: $primary-accent;
      font-size: 45;
    }
  }
}

