@import './custom.scss';
@import './variables.scss';
@import './fonts.scss';

.action-bar {
  background-color: $primary-accent;
  color: #ffffff;
  // background-color: #ffffff;
  // border-width: 1;
  // border-color: #ffffff;

  NavigationButton {
    border-width: 2;
    border-color: white;
    font-size: 100;
  }
}

Label, TextView, TextField, Button, .action-bar {
  // @include roboto('Regular');
  @include sans('Light');
  // @include sans('Regular');
}
