<StackLayout class="page">
  <ActionBar class="action-bar">
    <StackLayout class="action-bar-title">
      <Label text="xPenses"></Label>
    </StackLayout>
  </ActionBar>

  <GridLayout class="top-bar" row="0" columns="auto, *">
    <Button col="0" class="m-icon menu-icon" text="&#xE5D2;" (tap)="showMenu();"></Button>
    <Button col="1" class="m-icon sign-icon" text="&#xE851;" (tap)="return;"></Button>
  </GridLayout>

  <GridLayout rows="*, auto" orientation="vertical">
    <router-outlet></router-outlet>

    <GridLayout class="bottom-bar" row="1" columns="*, *, *, *, *"
      [@slideUp]="isShowMenu ? 'active' : 'inactive'">
      <Button col="0" class="m-icon" [class.active]="isActivePage('categories')" text="&#xE896;" nsRouterLink="/categories"></Button>
      <Button col="1" class="m-icon" [class.active]="isActivePage('expenses')" text="&#xE227;" nsRouterLink="/expenses"></Button>
      <Button col="2" class="m-icon" [class.active]="isActivePage('active')" text="&#xE039;" nsRouterLink="/active"></Button>
      <Button col="3" class="m-icon" [class.active]="isActivePage('cycles')" text="&#xE889;" nsRouterLink="/cycles"></Button>
      <Button col="4" class="m-icon" [class.active]="isActivePage('info')" text="&#xE88F;" nsRouterLink="/info"></Button>
    </GridLayout>
  </GridLayout>
</StackLayout>
