.fa {
  font-family: 'FontAwesome';
  font-size: 36px;
}
.icomoon {
  font-family: 'icomoon';
  font-size: 36px;
}
.mdi {
  font-family: 'MaterialIcons-Regular';
  font-size: 36px;
}

@mixin sans($type: 'Light') {
  font-family: 'OpenSans-'+$type;
}
.sans-l { @include sans('Light'); }
.sans-i { @include sans('Italic'); }
.sans-b { @include sans('Bold'); }
.sans-r { @include sans('Regular'); }
.sans-s { @include sans('Semibold'); }

@mixin roboto($type: 'Light') {
  font-family: 'Roboto-'+$type;
}
.robo-l { @include roboto('Light'); }
.robo-i { @include roboto('Italic'); }
.robo-b { @include roboto('Bold'); }
.robo-r { @include roboto('Regular'); }
.robo-t { @include roboto('Thin'); }
