.fa {
  font-family: 'FontAwesome';
  font-size: 36px;
}
.icomoon {
  font-family: 'icomoon';
  font-size: 36px;
}
.mdi {
  font-family: 'MaterialIcons-Regular';
  font-size: 36px;
}

@mixin roboto($type: 'Light') {
  font-family: 'Roboto-'+$type;
}
.robo-l { @include roboto('Light'); }
.robo-i { @include roboto('Italic'); }
.robo-b { @include roboto('Bold'); }
.robo-r { @include roboto('Regular'); }
.robo-t { @include roboto('Thin'); }
