<!--[nsgrad]="['rgba(0,0,0,.5)', 'rgba(0,0,0,0)']" -->

<StackLayout [nsgrad]="gColors" [nsgradOrient]="gOrient" [nsgradType]="gType" class="page">
  <ActionBar [title]="title" class="action-bar"></ActionBar>

  <ng-container *ngIf="data$ | async as data">
    <GridLayout (swipe)="onSwipe($event)" rows="*, auto, auto, 30">

      <StackLayout class="p-10 m-y-auto container">

        <FlexboxLayout alignItems="center" class="header m-b-30 m-x-auto text-center">
          <Label text="X" class="h1 X robo-l"></Label>
          <Label text="PENSES" class="h1 robo-l"></Label>
        </FlexboxLayout>

        <StackboxLayout class="m-t-5 m-x-auto text-center body">
          <Label text="IS RUNNING" class="tint"></Label>
        </StackboxLayout>

        <StackLayout class="showcase pulse m-y-30">
          <StackLayout #showcase (loaded)="showcaseLoaded($event)" backgroundColor="transparent" class="m-y-auto text-center">
            <Label [text]="data.count" class="big robo-t"></Label>
            <Label [text]="'cycle' + (data.count > 1 ? 's' : '')" class="small m-y-5 text-muted"></Label>
          </StackLayout>
        </StackLayout>

        <FlexboxLayout alignItems="center" class="m-x-auto text-center body" width="65%">
          <Label text="TOTALING " class="tint"></Label>
          <Label [text]="format(data.totals.budget)" class="font-weight-bold"></Label>
          <Label text=" IN BUDGET AND " class="tint"></Label>
          <Label [text]="format(data.totals.expense)" class="font-weight-bold"></Label>
          <Label text=" IN SPENDINGS." class="tint"></Label>
        </FlexboxLayout>

      </StackLayout>

      <Button width="75%" fontSize="13" row="1" borderColor="rgba(0,0,0,.025)" backgroundColor="rgba(0,0,0,.25)" text="SLIDE TO CYCLES &nbsp; &#xE5C8;"
        class="bounceIn pulse btn btn-outline btn-rounded-lg" color="white"></Button>

      <Label row="2" text="..." *ngIf="!hiddenBottom" class="m-t-5 text-center"></Label>

    </GridLayout>
  </ng-container>
</StackLayout>
