@import '../../variables.scss';
@import '../../fonts.scss';

.fab-button {
  height: 120px;
  width: 120px;
  margin: 35px;
  background-color: $primary-accent;
  horizontal-align: right;
  vertical-align: bottom;
  font-size: 56px;
}

.content-body {

  ScrollView {
    height: 100%;

    .scroll-menu {
      background-color: whitesmoke;

      .create-bar {
        margin: 20;
        margin-top: -50;
        width: 250;
        height: 250;
        background-color: #777;

        Label {
          color: #999;
        }
      }
    }
  }

}

