@import 'app/custom.scss';
@import 'app/variables.scss';
@import 'app/fonts.scss';

.fab-button {
  height: 120px;
  width: 120px;
  margin: 35px;
  background-color: $primary-accent;
  horizontal-align: right;
  vertical-align: bottom;
  font-size: 56px;
}

@mixin slide-indicator($opacity: .9) {
  height: 10;
  margin-left: 2.5;
  margin-right: 2.5;
  margin-top: 0;
  border-radius: 5;
  opacity: $opacity;
}
.slide-indicator-active {
  @include slide-indicator();
}
.slide-indicator-inactive {
  @include slide-indicator(.4);
}


