<StackLayout class="page">
  <ActionBar [title]="title" class="action-bar">
    <ActionItem icon="res://ic_add_white" (tap)="addExpense()"></ActionItem>
    <ActionItem icon="res://ic_done_white_24dp" (tap)="doneCycle()"></ActionItem>
    <ActionItem [visibility]="hidden ? 'collapsed' : 'visible'" icon="res://ic_add_white" (tap)="addExpense()"></ActionItem>
  </ActionBar>

  <ng-template #createEl>
    <GridLayout verticalAlignment="center" rows="*, 2*, *">
      <StackLayout row="1" (tap)="createCycle()" class="create-bar">
        <Label text="+" class="text-muted"></Label>
        <Label text="NEW CYCLE" class="small text-muted"></Label>
      </StackLayout>
    </GridLayout>
  </ng-template>

  <GridLayout rows="auto, *, 50" *ngIf="data.expense; else createEl">

    <StackLayout row="0" class="header">
      <GridLayout class="content" rows="auto, auto" columns="auto, auto">
        <Label [text]="data.sign" class="prefix"></Label>
        <Label col="1" [text]="data.balance.money" class="big"></Label>
        <Label row="1" colSpan="2" text="CURRENT BALANCE"></Label>
      </GridLayout>

      <GridLayout class="bottom" rows="auto, auto" columns="*, *, *">
        <StackLayout class="container a">
          <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label [text]="data.sign" class="prefix"></Label>
            <Label [text]="data.budget.money" class="big"></Label>
          </StackLayout>
        </StackLayout>

        <StackLayout class="container a" col="1">
          <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label [text]="data.progress" class="big"></Label>
            <Label text="%" class="prefix"></Label>
          </StackLayout>
        </StackLayout>

        <StackLayout class="container b" col="2">
          <StackLayout orientation="horizontal" horizontalAlignment="center">
            <Label [text]="data.sign" class="prefix"></Label>
            <Label [text]="data.expense.money" class="big"></Label>
          </StackLayout>
        </StackLayout>

        <Label row="1" col="0" class="t a" text="BUDGET"></Label>
        <Label row="1" col="1" class="t a" text="PROGRESS"></Label>
        <Label row="1" col="2" class="t b" text="EXPENSE"></Label>
      </GridLayout>

      <StackLayout class="footer">
        <Label text="EXPENSE HISTORY"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout row="1" class="content-body">
      <ListView [items]="data.categories" (loaded)="onLoaded($event)" (itemLoading)="onItemLoading($event)" (itemTap)="onItemTap($event)"
        class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
          <GridLayout class="list-group-item" columns="*, auto">
            <StackLayout>
              <Label [text]="item.name" class=""></Label>
              <Label [text]="item.created | date" class="small"></Label>
            </StackLayout>
            <StackLayout col="1" orientation="horizontal">
              <Label [text]="data.sign" class="prefix"></Label>
              <Label [text]="item.value" class="cost"></Label>
            </StackLayout>
          </GridLayout>
        </ng-template>
      </ListView>
    </StackLayout>

    <StackLayout row="2"></StackLayout>
  </GridLayout>
</StackLayout>
