@import '../../custom.scss';
@import '../../variables.scss';
@import '../../fonts.scss';

.header {
  // background-color: white;
  height: 100;
  padding: 10;

  Label {
    vertical-align: center;
  }

  .h1 {
    font-size: 60;
  }
  .h4 {
    height: 100%;
    vertical-align: middle;
  }

}
  .fab-button {
    height: 55;
    width: 55; /// this is required on iOS - Android does not require width so you might need to adjust styles
    margin: 15;
    margin-top: -20;
    // background-color: $secondary-accent;
    background-color: $primary-accent;
    horizontal-align: right;
    vertical-align: top;
  }

.content-body {
  // height: 100%;
  // width: 100%;
  // background-color: red;

  .list-group {
    height: 100%;
    width: 100%;

    .list-group-item {
      padding: 15;
      background-color: whitesmoke;
      border-left-width: 5;
      border-left-style: solid;
      border-left-color: $primary-accent;

      Label {
        vertical-align: center;
      }

      .btn {
        width: 35;
        height: 35;
        padding: 0;
        border-width: 0;
      }
    }
  }
}

