<StackLayout class="page">
  <ActionBar title="Categories" class="action-bar">
    <ActionItem icon="res://ic_person_white"></ActionItem>
  </ActionBar>

  <GridLayout row="0" rows="auto, *" *ngIf="data$ | async as data">

    <GridLayout row="0" rows="auto, *" class="header">
      <Label row="0" class="h1" [text]="data.length"></Label>
      <Label row="1" class="text-muted" text="Items"></Label>
    </GridLayout>

    <FAB (tap)="onCreate()" row="1" icon="res://ic_playlist_add_white" rippleColor="#f1f1f1" class="fab-button"></FAB>

    <AbsoluteLayout row="1" class="content-body">
      <ListView [items]="data" (loaded)="onLoaded(event)" (itemLoading)="onItemLoading(event)" (itemTap)="onItemTap(event)" class="list-group">
        <ng-template let-item="item" let-odd="odd" let-even="even">
          <GridLayout class="list-group-item" columns="*, auto">
            <Label [text]="item.name" class="h5"></Label>
            <!--<Button col="1" class="mdi btn pull-right btn-outline" text="&#xE22B;" (tap)="return"></Button>-->
          </GridLayout>
        </ng-template>
      </ListView>
    </AbsoluteLayout>

  </GridLayout>
</StackLayout>
