<StackLayout class="page">
  <ActionBar [title]="title" class="action-bar">
    <ActionItem icon="res://ic_person_white"></ActionItem>
  </ActionBar>

  <StackLayout rows="*, auto">
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>
    <Label text="Why" textWrap="true"></Label>

    <AbsoluteLayout row="1" horizontalAlignment="center" verticalAlignment="bottom" marginBottom="100">

      <Ripple>
        <Button id="newBtn" #newBtn color="white" borderRadius="200" fontSize="13" text="NEW ENTRY" class="btn mdi btn-primary btn-rounded-lg"></Button>
      </Ripple>

    </AbsoluteLayout>
  </StackLayout>
</StackLayout>
