<StackLayout class="page">
  <ActionBar title="Create Cycle" class="action-bar">
    <NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack($event)"></NavigationButton>
    <ActionItem (tap)="onCreate(field1.text, field2.text)" icon="res://ic_save_white"></ActionItem>
  </ActionBar>

  <GridLayout rows="auto, *, auto">
    <Label class="top" text="Budget for this cycle"></Label>

    <StackLayout row="1" class="form">
      <GridLayout class="input-field" rows="auto" columns="auto, 3*, auto, 2*">
        <label col="0" class="mid" [text]="sign"></label>
        <TextField col="1" #field1 autocorrect="false" (returnPress)="return;" class="input input-border"></TextField>
        <label col="2" class="mid" text=":"></label>
        <TextField col="3" #field2 maxLength="2" autocorrect="false" (returnPress)="return;" class="input input-border"></TextField>
      </GridLayout>
      <StackLayout class="input-field">
        <ListPicker [items]="items" selectedIndex="0" class="p-15"></ListPicker>
        <!--<ListPicker [items]="pokemons" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class=""></ListPicker>-->
        <Button (tap)="onChooseDate()" fontSize="13" text="&#xE916; &nbsp; CHOOSE DATE" class="mdi btn"></Button>
      </StackLayout>
    </StackLayout>

    <Label row="2" class="bottom" text="Currency is currently in {{ sign }}"></Label>
  </GridLayout>
</StackLayout>
