<StackLayout class="page">
  <ActionBar title="Create Cycle" class="action-bar">
    <NavigationButton icon="res://ic_arrow_back_white_24dp" (tap)="goBack($event)"></NavigationButton>
    <ActionItem (tap)="onCreate(field1.text, field2.text)" icon="res://ic_save_white"></ActionItem>
  </ActionBar>

  <GridLayout rows="auto, *, auto">
    <Label class="top" text="Budget for this cycle"></Label>

    <StackLayout row="1" class="form">
      <GridLayout class="input-field" rows="auto, auto" , columns="3*, auto, 2*">
        <TextField row="1" #field1 autocorrect="false" (returnPress)="return;" class="input input-border l"></TextField>
        <label row="1" col="1" class="mid" text=":"></label>
        <TextField row="1" col="2" #field2 maxLength="2" autocorrect="false" (returnPress)="return;" class="input input-border r"></TextField>
      </GridLayout>
    </StackLayout>

    <Label row="2" class="bottom" text="Currency is currently in {{ sign }}"></Label>
  </GridLayout>
</StackLayout>
